body{
    text-align: center;
    background-color: #6495ed;
    color: white;
    font-family: helvetica, Arial;
}

.wrapper{
    width: 450px;
    background-color: #000234;
    margin:0px 0px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 65px;
    border-radius: 25px;
}
